



.e {
	font-family: 'Oswald', sans-serif;
	font-size: x-large;
}

.hansans {
	font-family: 'Black Han Sans', sans-serif;
	font-size: 60px;
	color: #333;
}

.settle {
	margin-left: 10px;
	margin-right: 10px;
	font-size: x-large;
}

.font_white {
	color: #333;
}

