.login_top_div {
	width: 100%;
	border-top: 7px solid #fff;
	border-bottom: 7px solid #fff;
	background-color: #fff;
}

.login_top {
	text-align: right;
	width: 100%;
	padding-right: 15%
}

a {
	text-decoration: none;
	color: #333;
}

.loginBtn {
	display: inline-block;
	width: 120px;
	height: 40px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	outline: none;
	background-color: #fff;
	border: 2px solid #ffcc66;
	color: #333;
	line-height: 36px;
}

.loginBtn:hover {
	background-color: #ffcc66;
	text-decoration: none;
	border-color: #fff;
	color: #fff;
}

.loginBtn::before, .loginBtn::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}

.loginBtn, .loginBtn::before, .loginBtn::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.logo {
	font-family: 'Oswald', sans-serif;
	font-size: x-large;
	text-decoration: none;
	color: #fff;
}

.logo:hover {
	text-decoration: none;
	color: #fff;
}

.navbox {
	width: 20%;
	margin-right: 15%;
	margin-left: 15%;
}

.navbar {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: .5rem 1rem
}

.nav_mybar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #ffcc66;
	padding: 8px 12px;
}

.nav_mylogo {
	font-size: 24px;
	color: #fff;
}




























